
@font-face {

    font-family: 'FigtreeLight';
    src: url('FigtreeLight.ttf') format('truetype');
    font-weight: normal;

}


@font-face {

    font-family: 'FigtreeLightItalic';
    src: url('FigtreeLightItalic.ttf') format('truetype');
    font-weight: normal;

}