
@font-face {

    font-family: "Figtree Light";
    src: url('FigtreeLight.ttf') sans-serif;
    font-weight: normal;

}


@font-face {

    font-family: "Figtree Light Italic";
    src: url('FigtreeLightItalic.ttf') sans-serif;
    font-weight: normal;

}