
@font-face {

    font-family: FigtreeLight;
    src: url('FigtreeLight.ttf') sans-serif;
    font-weight: normal;

}


@font-face {

    font-family: FigtreeLightItalic;
    src: url('FigtreeLightItalic.ttf') sans-serif;
    font-weight: normal;

}