
    .flex-container {

        display: flex;

        justify-content: center;
        align-items: center;

        overflow: auto;

        width: 100%;
        height: 100%;

    }

    .flex-container#blurred {

        backdrop-filter: blur(1px);

        display: flex;
    
        justify-content: center;
        align-items: center;
    
        overflow: auto;
    
        width: 100%;
        height: 100%;
    
    }