
    .logo {

        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* border: 1px solid grey; */

        height: 10vh;
        width: 20vw;

        background-image: var(--userDefinedLogo);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }